.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10% ,80px);
    color: tomato;
}

.navbar .profile{
    width: 40px;
    cursor: pointer;
}